.root {
    -fx-background-color: transparent;
}

.control-bar {
    -fx-background-color: #000000;
    -fx-background-radius: 5;
    -fx-padding: 2;
    -fx-border-color: rgba(255, 255, 255, 0.6);
    -fx-border-width: 1px;
    -fx-border-radius: 5;
}

.action-button {
    -fx-background-color: #92dce5;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-min-width: 25px;
    -fx-min-height: 25px;
    -fx-max-width: 25px;
    -fx-max-height: 25px;
    -fx-padding: 0;
    -fx-alignment: center;
    -fx-font-size: 10px;
}

.stop-button {
    -fx-background-color: #D64933;
    -fx-text-fill: #EEE5E9;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-min-width: 25px;
    -fx-min-height: 25px;
    -fx-max-width: 25px;
    -fx-max-height: 25px;
    -fx-padding: 0;
    -fx-alignment: center;
    -fx-font-size: 10px;
}

.text-button {
    -fx-background-color: #92dce5;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-padding: 5 15 5 15;
    -fx-font-size: 12px;
    -fx-background-radius: 5;
}

.transparent-area {
    -fx-background-color: rgba(255, 255, 255, 0.01);
    -fx-border-color: red;
    -fx-border-width: 2;
    -fx-border-style: dashed;
}

.overlay-text {
    -fx-text-fill: #D64933;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 2, 0, 0, 0);
    -fx-background-color: rgba(238, 229, 233, 0.7);
    -fx-padding: 5;
    -fx-background-radius: 3;
}

.close-button {
    -fx-background-color: transparent;
    -fx-text-fill: #EEE5E9;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-font-size: 14px;
}

.resize-handle {
    -fx-text-fill: rgba(214, 73, 51, 0.9);
    -fx-font-size: 20px;
    -fx-cursor: se-resize;
    -fx-font-weight: bold;
}

.close-button:hover {
    -fx-text-fill: #D64933;
}

.overlay-label {
    -fx-background-color: rgba(0, 0, 0, 0.7);
    -fx-text-fill: white;
    -fx-padding: 3px;
    -fx-background-radius: 5px;
    -fx-font-smoothing-type: gray;
}

.floating-label {
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-text-fill: white;
    -fx-padding: 5px;
    -fx-background-radius: 3px;
    -fx-font-size: 14px;
    -fx-font-smoothing-type: gray;
}